<div>
<h2>Database overview of currently inserted items:</h2>

<form id="new_product">
<table id="database_overview">
  <thead>
    <tr> <!--[name calories protein carbs sugar fat waterpercentage additionalinfo] -->
      <th width="200">Name</th>
      <th width="200">Calories</th>
      <th width="150">Protein / 100g</th>
      <th width="150">Carbs / 100g</th>
      <th width="150">Sugar / 100g</th>
      <th width="150">Fat / 100g</th>
      <th width="150">% Water</th>
      <th width="350">Additional Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" name="name" id="name" required minlength="3" maxlength="25"/></td>
      <td></td>
      <td><input type="number" name="protein" id="protein" required minlength="1" value="" /></td>
      <td><input type="number" name="carbs" id="carbs" required minlength="1" value="" /></td>
      <td><input type="number" name="sugar" id="sugar" required minlength="1" value="" /></td>
      <td><input type="number" name="fat" id="fat" required minlength="1" value="" /></td>
      <td><input type="number" name="waterpercentage" id="waterpercentage" value="" required min="0" max="100" /></td>
      <td><input type="text" id="additionalinfo" name="additionalinfo" value=""/></td>
    </tr>
  </tbody>
</table>
</form>

<script>
$(function() {
  print_adi = function(adi) {
    if(adi===null) return "";
    res = "";
    $.each(adi, function(k,v) {
        res+= k+": "+v+"<br/>";
    });
    return res;
  };

  function readProducts() {
    $.get( "/products", function( data ) {
      $('#database_overview > tbody .entry').remove();
      $.each(data, function(i,v) {
        $('#database_overview > tbody:last').append(
          '<tr class="entry"><td>'+v.name+'</td>'+
          '<td>'+v.calories+'</td>'+
          '<td>'+v.protein+'</td>'+
          '<td>'+v.carbs+'</td>'+
          '<td>'+v.sugar+'</td>'+
          '<td>'+v.fat+'</td>'+
          '<td>'+v.waterpercentage+'</td>'+
          '<td>'+print_adi(v.additionalinfo)+'</td></tr>')
      });
  }, 'json')};

  readProducts();

  $(document).keypress(function(e) {
    if(e.which == 13) {
        var x = $("#new_product").validate({
          errorElement: "small",
          debug: true
        });

        if(x.form()) {
          var map = {};
          $.each($("#new_product :input"),function() {
            if($(this).val() && $(this).val().length) {
              if($.isNumeric($(this).val())) {
                map[this.name] = parseFloat($(this).val());
              } else { 
                map[this.name] = $(this).val();
              }
            }
          });

          var form = JSON.stringify(map, null, 2);

          $.ajax({ type: 'POST',
                   contentType: 'application/json',
                   dataType: 'json',
                   url: 'products/add',
                   data: form,
                   success: function(data)
                   {
                     if("success" == data) readProducts();
                     else alert(JSON.stringify(data,null,2));
                   },
                   processData: false, dataType: 'json'});
        }
    }
  });
});
</script>

</div>